# Python
__pycache__/
*.py[cod]
*.log

# Virtualenv
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests
.coverage
htmlcov/
